table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  display: inline-block;
}

td,
th {
  width: 25%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  padding: 10px;
  display: block;
  max-width: 500px;
  margin: auto;
}

.form {
  min-width: 150px;
  max-width: 500px;
  display: block;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 50%;
}

.button {
  width: 100%;
}

.color-Yellow {
  color: rgba(255, 251, 0, 0.5);
}
.color-Blue {
  color: rgba(0, 0, 255, 0.5);
}
.color-Red {
  color: rgba(255, 0, 0, 0.5);
}
.color-Green {
  color: rgba(0, 255, 0, 0.5);
}
.color-Purple {
  color: rgba(111, 0, 255, 0.5);
}
.color-Orange {
  color: rgba(255, 102, 0, 0.5);
}
.color-Gray {
  color: rgb(182, 165, 165);
}
.color-Black {
  color: rgb(0, 0, 0);
}
.color-White {
  color: rgb(255, 255, 255);
}
