<mat-form-field>
  <input matInput
         (keyup)="applyFilter($event.target.value)"
         placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table
         [dataSource]="dataSource"
         matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>ID</h3>
      </th>
      <td mat-cell
          *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>Name</h3>
      </th>
      <td mat-cell
          *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Company -->
    <ng-container matColumnDef="company">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>Company</h3>
      </th>
      <td mat-cell
          *matCellDef="let row"> {{row.company}} </td>
    </ng-container>

    <!-- Age -->
    <ng-container matColumnDef="age">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>Age</h3>
      </th>
      <td mat-cell
          *matCellDef="let row"> {{row.birthday | dateToAge}} </td>
    </ng-container>

    <!-- Birthday -->
    <ng-container matColumnDef="birthday">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>Birthday</h3>
      </th>
      <td mat-cell
          *matCellDef="let row"> {{ row.birthday | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <!-- Favorite Color -->
    <ng-container matColumnDef="favoriteColor">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>Favorite Color</h3>
      </th>
      <td mat-cell
          *matCellDef="let row"> {{row.favoriteColor}}
        <!-- <h4 class="color-{{row.favoriteColor}}">{{row.favoriteColor}}</h4> -->
      </td>
    </ng-container>

    <!-- Project -->
    <ng-container matColumnDef="project">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>Project</h3>
      </th>
      <td mat-cell
          *matCellDef="let row"> {{ getProjectName(row.project) }} </td>
    </ng-container>

    <!-- Edit -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>Edit</h3>
      </th>
      <td mat-cell
          *matCellDef="let row">
        <button mat-icon-button
                color="primary"
                type="button"
                (click)="edit(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        <h3>Delete</h3>
      </th>
      <td mat-cell
          *matCellDef="let row">
        <button mat-icon-button
                color="warn"
                type="button"
                class="button"
                (click)="delete(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [length]="dataSource?.filteredData.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 15, 50]"></mat-paginator>
</div>
<div class="container"
     novalidate>
  <div>
    <mat-toolbar color="primary">
      <span class="fill-remaining-space">Add Employee</span>
    </mat-toolbar>
  </div>
  <form [formGroup]="formGroup"
        (ngSubmit)="add()"
        class="form">
    <mat-form-field class="form-element">
      <input matInput
             type="name"
             placeholder="Name"
             formControlName="name"
             required>
      <mat-hint>Type employee name</mat-hint>
      <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
        <!-- {{ getErrorName() }} -->
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput
             type="company"
             placeholder="Company"
             formControlName="company"
             required>
      <mat-hint>Type a Company</mat-hint>
      <mat-error *ngIf="!formGroup.controls['company'].valid && formGroup.controls['company'].touched">
        <!-- {{ getErrorClientName() }} -->
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [matDatepicker]="dp3"
             placeholder="Birthday"
             formControlName="birthday">
      <mat-hint>Choose a Birthday</mat-hint>
      <mat-error *ngIf="!formGroup.controls['birthday'].valid && formGroup.controls['birthday'].touched"></mat-error>
      <mat-datepicker-toggle matSuffix
                             [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3
                      disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Favorite Color"
                  formControlName="favoriteColor"
                  panelClass="color-{{formGroup.controls['favoriteColor'].value}}"
                  required>
        <mat-option value="Yellow">Yellow</mat-option>
        <mat-option value="Blue">Blue</mat-option>
        <mat-option value="Red">Red</mat-option>
        <mat-option value="Green">Green</mat-option>
        <mat-option value="Purple">Purple</mat-option>
        <mat-option value="Orange">Orange</mat-option>
        <mat-option value="Black">Black</mat-option>
        <mat-option value="White">White</mat-option>
        <mat-option value="Gray">Gray</mat-option>
      </mat-select>
      <mat-hint>Choose your favorite color</mat-hint>
      <mat-error *ngIf="!formGroup.controls['favoriteColor'].hasError('required') && !formGroup.controls['favoriteColor'].valid && formGroup.controls['favoriteColor'].touched">Please choose one color</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Project"
                  formControlName="project"
                  required>
        <mat-option *ngFor="let theProject of projects"
                    [value]="theProject.id">
          {{theProject.name}} - ({{theProject.teamSize}})
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.controls['project'].hasError('required') && !formGroup.controls['project'].valid && formGroup.controls['project'].touched">Please choose one project</mat-error>
      <mat-hint>Choose one project</mat-hint>
    </mat-form-field>




    <div>
      <button mat-raised-button
              color="warn"
              type="submit"
              class="button"
              [disabled]="formGroup.invalid">
        <mat-icon aria-label="Add">save</mat-icon>Save
      </button>
    </div>

  </form>
  <br />
  <div>
    <button mat-raised-button
            color="warn"
            type="submit"
            class="button"
            (click)="back()">
      <mat-icon aria-label="Home">home</mat-icon>
      Home
    </button>
  </div>

</div>