:host {
  display: block;
  text-align: center;
}

.close {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.closeIcon {
  margin-block-start: 5px;
  margin-right: 0px;
}
