<mat-drawer-container class="container">
  <mat-drawer #drawer
              disableClose="true"
              hashBackdrop="false"
              mode="push">
    <mat-icon class="close"
              (click)="drawer.close()">close</mat-icon>
    <app-vertical-menu></app-vertical-menu>
  </mat-drawer>
  <mat-drawer-content class="closeIcon">
    <button mat-raised-button
            color="warn"
            type="submit"
            class="button"
            (click)="drawer.open()">
      <mat-icon aria-label="Menu"
                class="menu">menu</mat-icon>
    </button>
    <app-home-menu class="homeMenu"></app-home-menu>
  </mat-drawer-content>
</mat-drawer-container>