:host {
  display: flex;
  text-align: center;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.buttonOpen {
  left: 5px;
  top: 5px;
  position: relative;
  width: 100%;
  text-align: left;
}

.buttonOpen:hover {
  cursor: pointer;
}

.buttonClose {
  position: relative;
  right: 5px;
  top: 5px;
  width: 100%;
  text-align: right;
}

.buttonClose:hover {
  cursor: pointer;
}

.homeMenu {
  padding: 10px;
  display: block;
  text-align: center;
}
