<mat-sidenav-container class="container"
                       (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav
               (keydown.escape)="sidenav.close()"
               disableClose
               disableClose="true"
               hashBackdrop="false">
    <div class="buttonClose">
      <mat-icon aria-label="Close"
                class="buttonClose"
                (click)="sidenav.close()">close</mat-icon>
    </div>
    <div>
      <app-vertical-menu></app-vertical-menu>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <div class="buttonOpen">
      <mat-icon aria-label="Menu"
                (click)="sidenav.open()"
                class="menu">menu</mat-icon>
    </div>
    <div>
      <app-home-menu class="homeMenu"></app-home-menu>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>