<button mat-raised-button
        color="primary"
        class="button"
        (click)="goToEmployees()">
  <span class="button">
    <mat-icon aria-label="Employees">people</mat-icon>
    Employees
  </span>
</button>
<button mat-raised-button
        color="primary"
        class="button"
        (click)="goToProjects()">
  <span class="button">
    <mat-icon aria-label="Projects">business_center</mat-icon>
    Projects
  </span>
</button>
<button mat-raised-button
        color="primary"
        class="button"
        (click)="logOut()">
  <span class="button">
    <mat-icon aria-label="Logout">power_settings_new</mat-icon>
    Logout
  </span>
  <!-- <a href="" (click)="authService.logout()">Logout</a> -->
</button>