<button mat-raised-button
        color="warn"
        class="button"
        (click)="goToEmployees()">
  <mat-icon inline=true>people</mat-icon>
  Employees
</button>
<button mat-raised-button
        color="warn"
        class="button"
        (click)="goToProjects()">
  <mat-icon aria-label="Projects">business_center</mat-icon>
  Projects
</button>
<button mat-raised-button
        color="warn"
        class="button"
        (click)="logOut()">
  <mat-icon aria-label="Logout">power_settings_new</mat-icon>
  Logout
  <!-- <a href="" (click)="authService.logout()">Logout</a> -->
</button>